body{
    /* background-color: black; */
    background-image: url('https://www.smiu.edu.pk/themes/smiu/images/smiu-khi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.form {
    padding: 20px;
    display: flex;
    align-items: center;

}

.heading {
    font-size: 70px;
    color: white;
    text-shadow: 3px 3px black;
    text-align: center;
}

.inputR {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: none;
}

.subHeading {
    color: white;
    font-size: 30px;

}

.SliderImage{
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.sliderMain{
    width: 50%;
}

.mainDiv {
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.red {
    background-color: red;
    width: 10%;
}

#unique {
    padding: 20px;
    margin: 80px;
}


@media only screen and (max-width: 576px) {

    .heading {
        font-size: 30px;
        color: white;
        text-shadow: 3px 3px black;
        text-align: center;
    }

    .subHeading {
        color: white;
        font-size: 10px;

    }
}